<launch>
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="$(optenv DINGO_REALSENSE_TOPIC realsense)_depth2laser">
    <remap from="/image" to="$(optenv DINGO_REALSENSE_TOPIC realsense)/depth/image_rect_raw"/>
    <remap from="/camera_info" to="$(optenv DINGO_REALSENSE_TOPIC realsense)/depth/camera_info"/>
    <param name="range_min" value="0.5" />
    <param name="range_max" value="5.46" />
    <param name="output_frame_id" value="$(optenv DINGO_REALSENSE_MOUNT front)_realsense_link" />
    <remap from="/scan" to="$(optenv DINGO_REALSENSE_TOPIC realsense)/scan" />
  </node>
</launch>
